body {
    font-family: Georgia, serif;
    background-color: #1a1d3b;
    margin: 5%;
    padding: 0%;
    text-align: center;
}

header {
    background-color: #1a1d3b;
    color: #b7c7ca;
    text-align: center;
    padding: 20px;
}        

nav {
    text-align: center;
    background-color: #4d4f57;
    padding: 20px;
}

a.button {
    background-color: #007BFF;
    color: #857f7f;   
    border-radius: 5px;            
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
    padding: 5px;
    display: block;
}

nav a {
    text-decoration: none;
    color: #b7c7ca;
    margin: 10px;
    
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #bbbdc7;
    border-radius: 5px;
    
}

footer {
    background-color: #4d4f57;
    color: #fff;
    text-align: center;
    padding: 20px;
}

a.button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;               
}

a.button:hover {
    background-color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-form {
    background-color: #abadb6;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 20%; 
    margin: 0 auto;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 95%; 
    padding: 5px;
    margin: px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: block;
   
}

.contact-form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;           
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

a:hover {
    color: #0056b3; 
}